h1{
  text-align: center;
  color: mediumseagreen;
}
.quantity{
  text-align: center;
}
.heading{
  text-align: center;
}
.image{
  width: 100%;
}
a{
  text-decoration: none;
  font-size: 20px;
}
h3{
  color: slateblue;
}
